.checkout-item {
  width: 100%;
  height: 150px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-bottom: 1px solid gray;

  .image-container {
    padding-right: 1em;

    img {
      max-width: 100%;
      max-height: 100px;
    }
  }

  .item-block {
    flex: 1;

    .arrow {
      cursor: pointer;
    }

    &:last-child {
      font-weight: bold;
      cursor: pointer;
    }
  }

  .image-container,
  .item-block {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
  }
}
