.cart-dropdown {
  position: fixed;
  top: 100px;
  border: 1px solid black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 340px;
  width: 240px;
  background-color: white;
  z-index: 1;
  right: 20px;

  .cart-items {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 240px;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;

    .empty-message {
      font-size: 18px;
      margin: 50px auto;
    }
  }

  button {
    margin-top: auto;
  }
}
