.checkout-page {
  width: 55%;
  margin: 0 auto;

  @media screen and (max-width: 800px) {
    width: 100%;
  }

  .checkout-header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-bottom: 1px solid gray;
    padding-bottom: 10px;

    .header-block {
      text-transform: capitalize;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .total {
    width: 100%;
    text-align: right;

    span {
      text-transform: uppercase;
      font-size: 30px;
    }
  }

  .checkout-items {
    padding-bottom: 20px;
  }

  button {
    margin-top: 20px;
  }

  .test-warning {
    color: red;
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
  }
}
