.sign-in {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0 15px;

  @media screen and (max-width: 800px) {
    width: unset;
  }

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;


    @media screen and (max-width: 1000px) {
      flex-direction: column;
      gap: 20px;
    }
  }
}
