.cart-item {
  max-width: 100%;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;

  img {
    height: 90%;
  }

  .item-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
}
